@import "../../../general/mixins.scss";

.sidebar-main-container {
  @include displayFormat(flex, center, flex-end);
  height: 50px;
  background: linear-gradient(to right, black, #3533cd);
  border-bottom: 2px solid black;
  padding-right: 30px;

  .mat-icon {
    color: white;
    font-size: 25px;
  }
}

.grey-sidebar-main-container {
  @include displayFormat(flex, center, flex-end);
  height: 50px;
  background: linear-gradient(to right, black, #a6a6a6);
  border-bottom: 2px solid black;
  padding-right: 30px;

  .mat-icon {
    color: white;
    font-size: 25px;
  }
}
