<div class="login-modal-main-container">
  <h1 mat-dialog-title class="dark-color"> {{ translations?.loginPage.welcome }} </h1>
  <div mat-dialog-content>
    <p class="dark-color"> {{ translations?.loginPage.subtitle }}</p>
    <div *ngIf="data.authFailed === true" class="error-message">
      {{ translations?.loginPage.errorMessage }}
    </div>
    <div class="input-fields">
      <mat-form-field appearance="fill">
        <mat-label> {{ translations?.loginPage.username }} </mat-label>
        <input
          matInput
          [(ngModel)]="data.username"
          (ngModelChange)="checkIfLoginButtonShouldBeEnabled()"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label> {{ translations?.loginPage.password }} </mat-label>
        <input
          matInput
          type="password"
          [(ngModel)]="data.password"
          (ngModelChange)="checkIfLoginButtonShouldBeEnabled()"
        />
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="login-modal-footer">
    <button mat-button class="dark-color" (click)="onNoClick()"> {{ translations?.loginPage.cancel }} </button>
    <button
      mat-raised-button
      class="login-button"
      [class.disabled]="isLoginButtonDisabled"
      [disabled]="isLoginButtonDisabled"
      (click)="login()"
    >
    {{ translations?.loginPage.login }}
    </button>
  </div>
</div>
