<div class="login-modal-main-container">
  <h1 mat-dialog-title class="dark-color">Welcome!</h1>
  <div mat-dialog-content>
    <p class="dark-color">Please enter your username and password</p>
    <div *ngIf="data.authFailed === true" class="error-message">
      Username or password is incorrect. Please try again.
    </div>
    <div class="input-fields">
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input
          matInput
          [(ngModel)]="data.username"
          (ngModelChange)="checkIfLoginButtonShouldBeEnabled()"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          [(ngModel)]="data.password"
          (ngModelChange)="checkIfLoginButtonShouldBeEnabled()"
        />
      </mat-form-field>
    </div>
    <!-- <div class="no-account-container">
      <div class="dark-color">You don't have an account?</div>
      <button mat-raised-button class="dark-color signup-button">
        Sign up
      </button>
    </div> -->
  </div>
  <div mat-dialog-actions class="login-modal-footer">
    <button mat-button class="dark-color" (click)="onNoClick()">Cancel</button>
    <button
      mat-raised-button
      class="login-button"
      [class.disabled]="isLoginButtonDisabled"
      [disabled]="isLoginButtonDisabled"
      (click)="login()"
    >
      Login
    </button>
  </div>
</div>
