@import "../../general/mixins.scss";

.configuration-page {
  @include displayFormatWithDirection(flex, column, flex-start, space-around);
  height: 100%;
  background: linear-gradient(to right, black, #3533cd);

  .configuration-page_title {
    font-size: 40px;
    color: white;
    margin-left: 100px;
  }

  .configuration-page_content {
    @include displayFormatWithDirection(flex, row, center, space-evenly);
    width: 100%;

    .configuration-page_left-content {
      display: flex;
      flex-direction: column;

      .direction-container {
        display: flex;
        align-items: center;
        font-size: 30px;
        color: white;
        margin-bottom: 20px;

        .direction-icon {
          margin-left: 10px;
          .mat-icon {
            color: white;
            font-size: 30px;
          }
        }
      }

      .board-container {
        display: flex;
        align-items: center;
        min-height: 650px;

        .board {
          // @include dimension(800px, 600px);
          position: relative;
          background-color: white;

          .robot {
            @include dimension(30px, 30px);
            position: absolute;
            background-color: red;
          }

          .finish-point {
            @include dimension(60px, 30px);
            position: absolute;
            background-color: green;
          }

          .obstacle {
            position: absolute;
            background-color: blue;
          }
        }
      }
    }

    .configuration-page_right-content {
      @include displayFormatWithDirection(flex, column, center, space-evenly);
      max-width: 20%;
      min-height: 80%;

      .right-container_text {
        display: flex;
        font-size: 30px;
        color: white;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 35px;
      }

      .form-container {
        display: flex;
        flex-direction: column;
        width: 100%;

        .right-container_form-field {
          width: 100%;
        }

        .form-field-button {
          margin-bottom: 20px;
        }
      }
    }

    .step-buttons {
      @include displayFormatWithDirection(flex, column, flex-start, center);
      @include dimension(100%, 100%);
      max-width: 20%;

      .configuration_button {
        width: 100%;
        margin-top: 10px;
      }
    }
  }
}
