<div class="configuration-page">
  <div class="header-container">
    <div class="title">{{ translations?.configuration?.title }}</div>
    <app-sidebard></app-sidebard>
  </div>
  <div class="main-container">
    <div class="configuration-page_left-content">
      <app-direction
        [recreateActionsButton]="recreatingSimulation"
        [lastKeyPressed]="lastKeyPressed"
      ></app-direction>
      <div class="board-container">
        <div
          class="board"
          tabindex="0"
          [style.width.px]="
            ['0', '00', ''].includes(recording.board_width.toString())
              ? 800
              : recording.board_width
          "
          [style.height.px]="
            ['0', '00', ''].includes(recording.board_height.toString())
              ? 600
              : recording.board_height
          "
          (click)="customizeBoard($event)"
        >
          <div
            class="robot"
            [style.left.px]="currentPosition.x"
            [style.top.px]="currentPosition.y"
          ></div>
          <div
            *ngIf="
              recording.robot_finish.x !== 0 && recording.robot_finish.y !== 0
            "
            class="finish-point"
            [style.left.px]="recording.robot_finish.x"
            [style.top.px]="recording.robot_finish.y"
            (click)="handleFinishPointClick($event)"
          ></div>
          <div
            *ngFor="let obstacle of obstacles"
            class="obstacle"
            [style.left.px]="obstacle.pos.x"
            [style.top.px]="obstacle.pos.y"
            [style.width.px]="obstacle.width"
            [style.height.px]="obstacle.height"
            (click)="handleObstacleClick($event, obstacle)"
          ></div>

          <div
            class="robot-trace"
            [style.left.px]="recording.robot_start.x"
            [style.top.px]="recording.robot_start.y"
          ></div>

          <div
            class="robot-trace"
            *ngFor="let trace of robotTrace"
            [style.left.px]="trace.x"
            [style.top.px]="trace.y"
          ></div>
        </div>
      </div>
    </div>
    <div *ngIf="step !== 0" class="configuration-page_right-content">
      <!-- MESSAGES -->
      <app-step-messages [step]="step"></app-step-messages>

      <!-- OPTIONS FOR EVERY STEP -->
      <form class="form-container">
        <!-- BOARD SETTINGS -->
        <mat-form-field *ngIf="step === 1" class="right-container_form-field">
          <mat-label>{{ translations?.configuration?.step1_input1 }}</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="recording.board_width"
            name="boardWidth"
          />
        </mat-form-field>
        <mat-form-field *ngIf="step === 1" class="right-container_form-field">
          <mat-label>{{ translations?.configuration?.step1_input2 }}</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="recording.board_height"
            name="boardHeight"
          />
        </mat-form-field>

        <!-- ROBOT SETTINGS -->
        <mat-form-field *ngIf="step === 2" class="right-container_form-field">
          <mat-label>{{ translations?.configuration?.step2_input1 }}</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="recording.robot_step"
            name="stepValue"
          />
        </mat-form-field>
        <button
          *ngIf="step === 2"
          mat-raised-button
          class="form-field-button"
          (click)="chooseStartingPoint()"
        >
          {{ translations?.configuration?.step2_button1 }}
        </button>
        <button
          *ngIf="step === 2"
          mat-raised-button
          class="form-field-button"
          (click)="chooseFinishPoint()"
        >
          {{ translations?.configuration?.step2_button2 }}
        </button>

        <!-- OBSTACLES SETTINGS -->
        <mat-form-field *ngIf="step === 3" class="right-container_form-field">
          <mat-label>{{ translations?.configuration?.step3_input1 }}</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="obstacleWidth"
            name="obstacleWidth"
          />
        </mat-form-field>
        <mat-form-field *ngIf="step === 3" class="right-container_form-field">
          <mat-label>{{ translations?.configuration?.step3_input2 }}</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="obstacleHeight"
            name="obstacleHeight"
          />
        </mat-form-field>

        <!-- TRAIN MODEL BUTTONS -->
        <button
          *ngIf="step === 4"
          mat-raised-button
          class="form-field-button"
          [disabled]="recreateSimulationButton"
          (click)="startSimulation()"
        >
          {{ translations?.configuration?.step4_button1 }}
        </button>
        <button
          *ngIf="step === 4"
          mat-raised-button
          class="form-field-button"
          [disabled]="!stopSimulationButton"
          (click)="stopSimulation()"
        >
          {{ translations?.configuration?.step4_button2 }}
        </button>
        <button
          *ngIf="step === 4"
          mat-raised-button
          [disabled]="!recreateSimulationButton"
          class="form-field-button"
          (click)="recreateSimulation()"
        >
          {{ translations?.configuration?.step4_button3 }}
        </button>
        <button
          *ngIf="step === 4"
          mat-raised-button
          [disabled]="!tryAgainButton || recreatingSimulation"
          class="form-field-button"
          (click)="tryAgain()"
        >
          {{ translations?.configuration?.step4_button4 }}
        </button>

        <!-- RECORDING CONFIGURATION -->
        <mat-form-field *ngIf="step === 5" class="right-container_form-field">
          <mat-label>{{ translations?.configuration?.step5_input1 }}</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="recording.configuration_time"
            name="confTime"
          />
        </mat-form-field>
        <mat-form-field *ngIf="step === 5" class="right-container_form-field">
          <mat-label>{{ translations?.configuration?.step5_input2 }}</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="recording.performance"
            name="performance"
          />
        </mat-form-field>
      </form>

      <!-- OPTIONS BUTTONS -->
      <button
        *ngIf="step !== 0"
        mat-button
        color="accent"
        class="back-to-steps-button"
        (click)="
          applyChanges(
            recording.board_width,
            recording.board_height,
            obstacleWidth,
            obstacleHeight,
            recording.robot_step,
            recording.configuration_time,
            recording.performance
          )
        "
      >
        {{ translations?.configuration?.back_button }}
      </button>
    </div>

    <!-- STEP BUTTONS -->
    <div *ngIf="step === 0" class="step-buttons">
      <button
        mat-raised-button
        color="accent"
        class="configuration_button"
        (click)="boardSettings()"
      >
        {{ translations?.configuration?.step1 }}
      </button>
      <button
        mat-raised-button
        color="accent"
        class="configuration_button"
        (click)="robotSettings()"
      >
        {{ translations?.configuration?.step2 }}
      </button>
      <button
        mat-raised-button
        color="accent"
        class="configuration_button"
        (click)="obstaclesSettings()"
      >
        {{ translations?.configuration?.step3 }}
      </button>
      <button
        mat-raised-button
        color="accent"
        class="configuration_button"
        (click)="simulation()"
      >
        {{ translations?.configuration?.step4 }}
      </button>
      <button
        mat-raised-button
        color="accent"
        class="configuration_button"
        (click)="configurationSettings()"
      >
        {{ translations?.configuration?.step5 }}
      </button>
      <button
        mat-raised-button
        color="accent"
        class="configuration_button"
        (click)="goTrainModel()"
      >
        {{ translations?.configuration?.step6 }}
      </button>
    </div>
  </div>
</div>
