<div class="configuration-page">
  <div class="configuration-page_title">Train the new model here:</div>

  <div class="configuration-page_content">
    <div class="configuration-page_left-content">
      <div *ngIf="!recreateActionsButton" class="configuration-page_direction">
        <span>Direction: </span>
        <mat-icon *ngIf="lastKeyPressed === 'ArrowLeft'" class="direction-icon"
          >arrow_back</mat-icon
        >
        <mat-icon *ngIf="lastKeyPressed === 'ArrowRight'" class="direction-icon"
          >arrow_forward</mat-icon
        >
        <mat-icon *ngIf="lastKeyPressed === 'ArrowUp'" class="direction-icon"
          >arrow_upward</mat-icon
        >
        <mat-icon *ngIf="lastKeyPressed === 'ArrowDown'" class="direction-icon"
          >arrow_downward</mat-icon
        >
      </div>
      <div *ngIf="recreateActionsButton" class="configuration-page_direction">
        <span>Recreating the last record </span>
      </div>
      <div class="configuration-page_board" tabindex="0" (click)="addObstacle($event)">
        <div
          class="configuration-page_avatar"
          [style.left.px]="posX"
          [style.top.px]="posY"
        ></div>
        <div
          *ngFor="let obstacle of obstacles"
          class="configuration-page_obstacle"
          [style.left.px]="obstacle.x"
          [style.top.px]="obstacle.y"
          [style.width.px]="obstacle.width"
          [style.height.px]="obstacle.height"
          (click)="handleObstacleClick($event, obstacle)"
        ></div>
      </div>
    </div>
    <div class="configuration-page_right-content">
      <div class="right-container_text">Settings:</div>
      <form class="configuration-page_inputs-and-buttons">
        <mat-form-field class="right-container_form-field">
          <mat-label>Width (px)</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="widthValue"
            name="widthValue"
          />
          <button
            *ngIf="widthValue"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="widthValue = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="right-container_form-field">
          <mat-label>Height (px)</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="heightValue"
            name="heightValue"
          />
          <button
            *ngIf="heightValue"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="heightValue = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="right-container_form-field">
          <mat-label>Step used by the point to meve</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="stepValue"
            name="stepValue"
          />
          <button
            *ngIf="stepValue"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="stepValue = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Starting position</mat-label>
          <mat-select [(ngModel)]="selectedPosition" name="position">
            <mat-option value="top-left">Top left</mat-option>
            <mat-option value="middle-left">Middle left</mat-option>
            <mat-option value="bottom-left">Bottom left</mat-option>
          </mat-select>
        </mat-form-field>
        <button
          mat-raised-button
          color="accent"
          [disabled]="recreateActionsButton"
          (click)="
            applyChanges(widthValue, heightValue, stepValue, selectedPosition)
          "
        >
          Apply changes
        </button>
        <button
          mat-raised-button
          color="accent"
          class="configuration_button"
          [disabled]="recreateActionsButton"
          (click)="startRecord()"
        >
          Start record
        </button>
        <button
          mat-raised-button
          color="accent"
          class="configuration_button"
          [disabled]="recreateActionsButton || !startRecordButton"
          (click)="stopRecord()"
        >
          Stop record
        </button>
        <button
          mat-raised-button
          color="accent"
          class="configuration_button"
          [disabled]="!stopRecordButton"
          (click)="recreateActions()"
        >
          Recreate actions
        </button>
      </form>
    </div>
  </div>
</div>
