@import "../../general/mixins.scss";

.configuration-page {
  @include displayFormatWithDirection(flex, column, flex-start, space-around);
  height: 100%;
  background: linear-gradient(to right, black, #3533cd);

  .configuration-page_title {
    font-size: 40px;
    color: white;
    margin-left: 100px;
  }

  .configuration-page_content {
    @include displayFormatWithDirection(flex, row, center, space-around);
    width: 100%;

    .configuration-page_left-content {
      display: flex;
      flex-direction: column;

      .direction-container {
        display: flex;
        align-items: center;
        font-size: 30px;
        color: white;
        margin-bottom: 20px;

        .direction-icon {
          margin-left: 10px;
          .mat-icon {
            color: white;
          }
        }
      }

      .board {
        @include dimension(800px, 600px);
        position: relative;
        background-color: white;

        .robot {
          @include dimension(30px, 30px);
          position: absolute;
          background-color: red;
        }

        .obstacle {
          position: absolute;
          background-color: blue;
        }
      }
    }

    .configuration-page_right-content {
      @include displayFormatWithDirection(flex, column, center, space-around);
      max-width: 30%;
      height: 100%;

      .right-container_text {
        font-size: 30px;
        color: white;
      }

      .right-container_form-field {
        width: 100%;
      }

      .inputs-and-buttons {
        display: flex;
        flex-direction: column;
      }

      .configuration_button {
        width: 100%;
        margin-top: 10px;
      }
    }
  }
}
