<div class="existing-model-page">
  <div class="header-container">
    <div class="title">{{ translations?.existingModel?.title }}</div>
    <app-sidebard></app-sidebard>
  </div>
  <div *ngIf="!selectButtonClicked" class="subtitle">
    {{ translations?.existingModel?.subtitle }}
  </div>
  <div *ngIf="selectButtonClicked" class="subtitle">
    {{ translations?.existingModel?.recording }}
    {{ displayedRecording?.room_name ? displayedRecording?.room_name : "-" }} -
    {{ displayedRecording?.room_name ? displayedRecording?.description : "-" }}
  </div>
  <div *ngIf="!selectButtonClicked" class="existing-model-table-container">
    <mat-form-field>
      <mat-label>{{ translations?.existingModel?.filter }}</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="{{ translations?.existingModel?.placeholder }}"
        #input
      />
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- Room name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ translations?.existingModel?.room_name }}
          </th>
          <td mat-cell *matCellDef="let recording">
            {{
              recording.name === null || recording.name === "undefined"
                ? "-"
                : recording.name
            }}
          </td>
        </ng-container>

        <!-- Action description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ translations?.existingModel?.action_description }}
          </th>
          <td mat-cell *matCellDef="let recording">
            {{ recording.description === null ? "-" : recording.description }}
          </td>
        </ng-container>

        <!-- Action description Column -->
        <ng-container matColumnDef="button">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let recording">
            <button
              mat-raised-button
              color="accent"
              (click)="buttonClicked(recording)"
            >
              {{ translations?.existingModel?.select_model }}
            </button>
            <button
              mat-button
              color="accent"
              class="table-delete-button"
              (click)="deleteRecording(recording)"
            >
              {{ translations?.existingModel?.delete_model }}
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            {{ translations?.existingModel?.filter_error }} "{{ input.value }}"
          </td>
        </tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of users"
      ></mat-paginator>
    </div>
  </div>

  <div class="board-container">
    <div *ngIf="selectButtonClicked" class="board">
      <div
        class="board"
        tabindex="0"
        [style.width.px]="displayedRecording?.board_width"
        [style.height.px]="displayedRecording?.board_height"
      >
        <div
          class="robot"
          [style.left.px]="currentPosition.x"
          [style.top.px]="currentPosition.y"
        ></div>
        <div
          *ngIf="
            displayedRecording?.robot_finish_x !== 0 &&
            displayedRecording?.robot_finish_y !== 0
          "
          class="finish-point"
          [style.left.px]="displayedRecording?.robot_finish_x"
          [style.top.px]="displayedRecording?.robot_finish_y"
        ></div>
        <div
          *ngFor="let obstacle of displayedObstacles"
          class="obstacle"
          [style.left.px]="obstacle?.obstacle_x"
          [style.top.px]="obstacle?.obstacle_y"
          [style.width.px]="obstacle?.obstacle_width"
          [style.height.px]="obstacle?.obstacle_height"
        ></div>

        <div
          class="trace"
          [style.left.px]="displayedRecording?.robot_start_x"
          [style.top.px]="displayedRecording?.robot_start_y"
        ></div>

        <div
          *ngFor="let trace of robotTrace"
          class="trace"
          [style.left.px]="trace.x"
          [style.top.px]="trace.y"
        ></div>
      </div>
    </div>

    <div *ngIf="selectButtonClicked" class="buttons-container">
      <button
        mat-raised-button
        color="accent"
        class="model-button"
        [disabled]="recreatingActions"
        (click)="startModel()"
      >
        {{ translations?.existingModel?.start }}
      </button>
      <button
        mat-raised-button
        color="accent"
        class="model-button"
        [disabled]="recreatingActions"
        (click)="backToTable()"
      >
        {{ translations?.existingModel?.back }}
      </button>
      <button
        *ngIf="selectButtonClicked"
        mat-raised-button
        color="accent"
        class="model-button"
        [disabled]="!pauseButtonClicked"
        (click)="pauseModel()"
      >
        {{ translations?.existingModel?.pause }}
      </button>
      <button
        *ngIf="selectButtonClicked"
        mat-raised-button
        color="accent"
        class="model-button"
        [disabled]="!restartButtonClicked"
        (click)="restartModel()"
      >
        {{ translations?.existingModel?.continue }}
      </button>
    </div>
  </div>
</div>
