@import "../../general/mixins.scss";

.existing-model-page {
  @include displayFormatWithDirection(flex, column, center, flex-start);
  min-height: 100%;
  background-color: #162942;

  .header-container {
    @include displayFormatWithDirection(flex, row, center, space-between);
    width: 90%;
    padding-top: 30px;

    .title {
      font-size: 40px;
      color: white;
    }
  }


  .subtitle {
    @include displayFormat(flex, flex-start, space-between);
    font-size: 30px;
    color: white;
    margin-top: 100px;
  }

  .existing-model-table-container {
    width: 90%;
    margin-top: 50px;

    table {
      width: 100%;
    }

    .mat-mdc-form-field {
      font-size: 14px;
      width: 100%;
    }

    td,
    th {
      width: 25%;
    }
  }

  .board-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;

    .board {
      margin-top: 20px;
      margin-bottom: 50px;

      .recording-title {
        font-size: 30px;
        color: white;
        margin-bottom: 20px;
      }

      .board {
        position: relative;
        background-color: white;

        .robot {
          @include dimension(30px, 30px);
          position: absolute;
          background-color: red;
        }

        .finish-point {
          @include dimension(60px, 30px);
          position: absolute;
          background-color: green;
        }

        .obstacle {
          position: absolute;
          background-color: blue;
        }
      }
    }

    .buttons-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 20%;

      .model-button {
        margin-bottom: 10px;
      }
    }
  }
}
