<div class="board-page">
  <div class="board-page_title">Train the new model here:</div>

  <div class="board-page_content">
    <div class="board-page_left-content">
      <div class="board-page_instruction-text">You are here</div>
      <mat-icon class="arrow-icon">arrow_downward</mat-icon>
      <div class="board-page_board" tabindex="0" (click)="addObstacle($event)">
        <div
          class="board-page_avatar"
          [style.left.px]="posX"
          [style.top.px]="posY"
        ></div>
        <div
          *ngFor="let obstacle of obstacles"
          class="board-page_obstacle"
          [style.left.px]="obstacle.x"
          [style.top.px]="obstacle.y"
          [style.width.px]="obstacle.width"
          [style.height.px]="obstacle.height"
          (click)="handleObstacleClick(obstacle)"
        ></div>
      </div>
    </div>
    <div class="board-page_right-content">
      <div class="right-container_text">Settings:</div>
      <form>
        <mat-form-field class="right-container_form-field">
          <mat-label>Width (px)</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="widthValue"
            name="widthValue"
          />
          <button
            *ngIf="widthValue"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="widthValue = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="right-container_form-field">
          <mat-label>Height (px)</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="heightValue"
            name="heightValue"
          />
          <button
            *ngIf="heightValue"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="heightValue = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="right-container_form-field">
          <mat-label>Step used by the point to meve</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="stepValue"
            name="stepValue"
          />
          <button
            *ngIf="stepValue"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="stepValue = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Starting position</mat-label>
          <mat-select [(ngModel)]="selectedPosition" name="position">
            <mat-option value="top-left">Top left</mat-option>
            <mat-option value="middle-left">Middle left</mat-option>
            <mat-option value="bottom-left">Bottom left</mat-option>
          </mat-select>
        </mat-form-field>
        <button
          mat-raised-button
          color="accent"
          (click)="
            applyChanges(widthValue, heightValue, stepValue, selectedPosition)
          "
        >
          Apply changes
        </button>
      </form>
    </div>
  </div>
</div>
