<div class="main-page">
  <div class="white_container">
    <div class="navbar">
      <div class="navbar_text">
        <div class="navbar_text_first">Welcome to</div>
        <div class="navbar_text_second">EEG Signals</div>
      </div>

      <div class="navbar_icons">
        <div class="icon" (click)="showProfile()">
          <mat-icon>person</mat-icon>
        </div>
        <div class="icon exit" (click)="exitButton()">
          <mat-icon>exit_to_app</mat-icon>
        </div>
      </div>
    </div>
    <div class="main-page_top-part">
      <div class="button-and-text">
        <button
          mat-raised-button
          color="accent"
          class="menu-button"
          (click)="configuration()"
        >
          Configuration
        </button>
        <div class="menu-text">
          The "Configuration" dashboard is designed for technical personnel.
          Here, users can customize recording settings such as room dimensions,
          robot start and end points, and the robot's movement steps. Obstacles
          within the room can be added and customized, and incorrect additions
          can be easily removed. Additionally, users can define recording
          parameters like duration and performance metrics. Within this
          dashboard, technical users can simulate the path using arrow keys on
          the keyboard.
        </div>
      </div>
      <div class="button-and-text">
        <button
          mat-raised-button
          color="accent"
          class="menu-button"
          (click)="trainModel()"
        >
          Train new model
        </button>
        <div class="menu-text">
          A "Go Train Model" button within this dashboard transports users to
          the "Train Model" dashboard. Here, the configured room from the
          previous dashboard is displayed. Users are presented with two buttons:
          "Train Model" initiates the recording simulation, allowing users to
          record multiple sessions before saving the correct recording. Upon
          saving, users must provide a room name and description of the recorded
          action.
        </div>
      </div>
      <div class="button-and-text">
        <button
          mat-raised-button
          color="accent"
          class="menu-button"
          (click)="useModel()"
        >
          Use existing model
        </button>
        <div class="menu-text">
          The "Use Existing Model" dashboard presents a table of saved
          recordings. Selecting a model displays the corresponding room setup,
          including dimensions, obstacles, and robot settings. Users can
          initiate the model, directing the robot to perform trained actions,
          and have the ability to pause and resume robot actions with specific
          buttons.
        </div>
      </div>
    </div>
  </div>
</div>
