@import "../../general/mixins.scss";

.main-page {
  @include displayFormat(flex, center, center);
  height: 100%;
  background: linear-gradient(to right, black, #3533cd);

  .white_container {
    width: 90%;
    background-color: #eeeeff;
    border-radius: 20px;
  }

  .navbar {
    @include displayFormatWithDirection(flex, row, center, space-between);
    height: 70px;
    background-color: #2a29a1;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

    .navbar_text {
      @include displayFormatWithDirection(flex, row, center, none);
      height: 100%;
      margin-left: 50px;

      .navbar_text_first {
        font-family: "Inter";
        font-size: 40px;
        font-weight: 700;
        color: black;
      }

      .navbar_text_second {
        margin-left: 10px;
        font-family: "Inter";
        font-size: 40px;
        font-weight: 700;
        color: #eeeeff;
      }
    }

    .navbar_icons {
      @include displayFormatWithDirection(flex, row, center, flex-end);
      padding-right: 30px;
    }
  }

  .main-page_top-part {
    @include displayFormatWithDirection(flex, column, center, none);
    padding: 50px;
    height: 100%;

    .button-and-text {
      @include displayFormatWithDirection(flex, row, center, center);
      margin-bottom: 30px;

      .menu-button {
        @include dimension(100%, 60px);
        display: flex;
        max-width: 25%;
        background-color: #2a29a1;
        color: white;
      }

      .menu-text {
        @include dimension(100%, 100%);
        display: flex;
        text-align: justify;
        padding-left: 50px;
      }
    }
  }

  .main-page_bottom-part {
    @include displayFormatWithDirection(flex, column, center, none);
    margin: 50px 100px;
  }
}
