@import "../../general/mixins.scss";

.main-page {
  @include displayFormatWithDirection(flex, column, center, flex-start);
  @include dimension(100%, 100%);
  background-image: url("../../images/MainPage2.png");
  background-size: cover;

  .navbar-icons {
    @include displayFormat(flex, none, flex-end);
    width: 100%;
    margin: 50px 250px 0 0;
    color: white;
  }

  .main-container {
    @include dimension(90%, 40%);
    @include displayFormatWithDirection(flex, column, flex-end, none);
    margin-top: 100px;
    margin-bottom: 100px;

    .main-container-text {
      @include displayFormatWithDirection(flex, column, flex-end, none);
      width: 60%;
      font-family: "Inter";
      font-weight: 700;
      color: white;
      line-height: 60px;
      padding-top: 30px;
      text-align: right;

      .title {
        font-size: 40px;
      }

      .subtitle {
        font-size: 30px;
      }

      .description {
        margin-top: 10px;
        font-size: 20px;
        line-height: 30px;
      }
    }
  }

  .footer-container {
    @include dimension(90%, auto);
    display: flex;
    flex-direction: row;
    border-top: 1px solid white;
    margin-bottom: 50px;

    .button-and-text {
      padding: 20px;

      &.first {
        border-top: 1px solid white;
        border-right: 1px solid white;
        border-top-right-radius: 30px;
      }

      &.second {
        border-top: 1px solid white;
        border-left: 1px solid white;
        border-top-left-radius: 30px;
        border-right: 1px solid white;
        border-top-right-radius: 30px;
      }

      &.third {
        border-right: none;
        border-top: 1px solid white;
        border-left: 1px solid white;
        border-top-left-radius: 30px;
      }

      .menu-button {
        font-size: 20px;
        margin-bottom: 10px;
      }

      .menu-text {
        color: white;
        text-align: justify;
      }
    }
  }
}

::ng-deep .mat-mdc-menu-content {
  background: #eaf9ff;
}

::ng-deep .mdc-list-item__primary-text{
  color: #162942;
}
