<div class="main-page">
  <div class="white_container">
    <div class="navbar">
      <div class="navbar_text">
        <div class="navbar_text_first">Welcome to</div>
        <div class="navbar_text_second">EEG Signals</div>
      </div>

      <div class="navbar_icons">
        <div class="icon" (click)="showProfile()">
          <mat-icon>person</mat-icon>
        </div>
        <div class="icon" (click)="exitButton()">
          <mat-icon>exit_to_app</mat-icon>
        </div>
      </div>
    </div>
    <div class="main-page_top-part">
      <div class="main-page_menu-container">
        <button
          mat-raised-button
          color="accent"
          class="menu-button"
          (click)="trainModel()"
        >
          Train new model
        </button>
        <button
          mat-raised-button
          color="accent"
          class="menu-button"
          (click)="useModel()"
        >
          Use existent model
        </button>
      </div>
    </div>

    <div class="main-page_bottom-part"></div>
  </div>
</div>
