@mixin photo($borderWidth, $borderStyle, $borderColor, $width, $marginLeft) {
  border-width: $borderWidth;
  border-style: $borderStyle;
  border-color: $borderColor;
  width: $width;
  margin-left: $marginLeft;
}

@mixin topContainers(
  $display,
  $flexDirection,
  $justifyContent,
  $width,
  $height,
  $marginLeft,
  $marginRight,
  $paddingTop
) {
  display: $display;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  width: $width;
  height: $height;
  margin-left: $marginLeft;
  margin-right: $marginRight;
  padding-top: $paddingTop;
}

.main-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: linear-gradient(to right, black, #3533cd);

  .white_container {
    width: 90%;
    background-color: #eeeeff;
    border-radius: 20px;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: #2a29a1;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

    .navbar_text {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
      margin-left: 50px;

      .navbar_text_first {
        font-family: "Inter";
        font-size: 40px;
        font-weight: 700;
        color: black;
      }

      .navbar_text_second {
        margin-left: 10px;
        font-family: "Inter";
        font-size: 40px;
        font-weight: 700;
        color: #eeeeff;
      }
    }

    .navbar_exit-icon {
      margin-right: 50px;
    }
  }

  .main-page_top-part {
    display: flex;
    flex-direction: row;

    .main-page_menu-container {
      @include topContainers(
        flex,
        column,
        space-between,
        250px,
        auto,
        50px,
        0,
        50px
      );

      .menu-button {
        height: 60px;
        margin-top: 10px;
      }
    }
  }

  .main-page_bottom-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 100px;
  }
}
