<div *ngIf="step === 1" class="right-container_text">
  {{ translations?.stepMessages?.step1 }}
</div>
<div *ngIf="step === 2" class="right-container_text">
  {{ translations?.stepMessages?.step2 }}
</div>
<div *ngIf="step === 3" class="right-container_text">
  {{ translations?.stepMessages?.step3 }}
</div>
<div *ngIf="step === 4" class="right-container_text">
  {{ translations?.stepMessages?.step4 }}
</div>
<div *ngIf="step === 5" class="right-container_text">
  {{ translations?.stepMessages?.step5 }}
</div>
<div *ngIf="step === 5" class="right-container_extra-info">
  <span class="bold_text">{{
    translations?.stepMessages?.step5_configuration_title
  }} </span>
  <span>{{ translations?.stepMessages?.step5_configuration_description }}</span>
</div>

<div *ngIf="step === 5" class="right-container_extra-info">
  <span class="bold_text">{{
    translations?.stepMessages?.step5_performance_title
  }} </span>
  <span>{{ translations?.stepMessages?.step5_performance_description }}</span>
</div>
