@import "../../general/mixins.scss";

@mixin input-container {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
}


.login-page-main-component {
  @include displayFormat(flex, center, flex-end);
  @include dimension(100%, 100%);
  background-image: url("../../images/EEG_login-page.png");
  background-size: cover;

  .login-page_description-container {
    @include dimension(80%, auto);
    max-width: 600px;
    padding: 20px;
    margin-right: 150px;
    text-align: justify;

    .login-page_title {
      font-family: "Inter";
      font-size: 4vw;
      font-weight: 700;
      color: #02c4ff;
      margin-bottom: 20px;
    }

    .login-page_description-text {
      font-family: "Inter";
      font-size: 1.5vw;
      font-weight: 400;
      color: white;
      margin-bottom: 20px;
    }

    .login_button {
      @include dimension(100%, 50px);
      max-width: 200px;
      font-size: 1.5vw;
      background-color: #02c4ff;
    }

    .login-page-input-container {
      width: 100%;
      max-width: 400px;
      // display: flex;
      // flex-direction: column;
      // width: 400px;
      // background-color: white;
      // border-radius: 10px;
      // margin-top: 30px;
      // padding: 30px;
    }
  }
}

.login-page-error-message {
  color: red;
}

.login-page-first-input-container {
  @include input-container();
  margin-top: 30px;
}

.login-page-second-input-container {
  @include input-container();
  margin-top: 10px;
}

.login-page-input {
  width: 100%;
}

input {
  height: 22px;
  margin-left: 17px;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #02c4ff;
}

.login-page-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  opacity: 1;

  .login-page-button {
    background-color: #02c4ff;
  }
}

@media screen and (max-width: 768px) {
  .login-page_main-component {
    .login-page_description-container {
      width: 90%;
      padding: 10px;

      .login-page_title {
        font-size: 6vw;
      }

      .login-page_description-text {
        font-size: 2vw;
      }
    }
  }
}
