@import "../../general/mixins.scss";

.login-page-main-component {
  @include displayFormat(flex, center, flex-start);
  @include dimension(100%, 100%);
  background-image: url("../../images/LoginPage.jpeg");
  background-size: cover;

  .login-page_description-container {
    @include displayFormatWithDirection(flex, column, center, none);
    text-align: justify;
    max-width: 650px;
    font-family: "Inter";
    font-size: 4vw;
    font-weight: 700;
    line-height: 30px;
    color: white;
    margin-bottom: 20px;
    margin-left: 50px;
    padding: 20px;

    .login-page-title {
      line-height: 60px;
      margin-bottom: 20px;
    }

    .login-page-description {
      font-size: 1.75vw;
    }

    .login-page_description-text {
      font-family: "Inter";
      font-size: 1.5vw;
      font-weight: 400;
      color: white;
      margin-bottom: 20px;
    }

    .login_button {
      @include dimension(100%, 50px);
      max-width: 200px;
      font-size: 1.5vw;
      background-color: #eaf9ff;
      margin-top: 50px;
      color: #162942;
    }
  }
}

.login-page-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  opacity: 1;

  .login-page-button {
    background-color: #02c4ff;
  }
}

@media screen and (max-width: 768px) {
  .login-page_main-component {
    .login-page_description-container {
      width: 90%;
      padding: 10px;

      .login-page_title {
        font-size: 6vw;
      }

      .login-page_description-text {
        font-size: 2vw;
      }
    }
  }
}
